<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Ruby on Rails 4 vs. .NET MVC 5 Smackdown</title>

    <meta name="description" content="Ruby on Rails 4 vs. .NET MVC 5 Smackdown, Rails Slides">
    <meta name="author" content="Ben Stevenson">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/night.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">
      <div class="slides">
        <section>
          <h1>Ruby on Rails 4 vs. .NET MVC 5 Smackdown</h1>
          <h3>November 2013, YYC Ruby/.NET Meetup</h3>
          <p>
            <small>Ben Stevenson &amp; Simon Timms/ <a href="http://twitter.com/bennett_stevens">@bennett_stevens</a> <a href="http://twitter.com/stimms">@stimms</a> </small>
          </p>
        </section>
        <section>
          <h2>Fight!</h2>
          <ul>
            <li>Hosting</li>
            <li>ORM</li>
            <li>Cost</li>
            <li>Performance</li>
            <li>Editor Templating vs. Formtastic</li>
          </ul>
        </section>
        <section>
          <section>
            <h2>Hosting</h2>
            <h3>Where your app lives</h3>
            <ul>
              <li>Host it yourself</li>
              <li>Platform as a Service(PaaS)</li>
              <li>Infrastructure as a Service/Cloud hosting(IaaS)</li>
            </ul>

            <aside class="notes">
              This is important, there are so many ways one can choose to deploy production applications, 
            </aside>
          </section>
          <section>
            <h2>Roll your own</h2>
            <ul style="list-style:none;text-align:center;">
              <li class="fragment"><img src="images/thin.png"></li>
              <li class="fragment"><img src="images/puma-logo.png"></li>
              <li class="fragment"><img src="images/unicorn.png"></li>
              <li class="fragment"><img src="images/passenger.png"  style="width: 300px; height:100px;"></li>
            </ul>
            <aside class="notes">

            </aside>
          </section>
          <section>
            <h2>Get someone else to do it...<h2>
            <img src="images/heroku_logo.png" class="fragment">
            <p class="fragment">
              The <span style="color:green;">"Monster"</span> of Managed Hosting
            </p>
            <aside class="notes">
              The obvious and most popular example. Uses AWS and at some point we've (pretty sure) all used Heroku in some capacity. 
            </aside>
          </section>
          <section>
            <h2>The Deal</h2>
            <ul>
              <li>Platform as a Service(Paas)</li>
              <li>Scalable</li>
              <li>Addons</li>
              <li class="fragment">Quick easy setup</li>
            </ul>
            <aside class="notes">
              Expandable to whatever your needs are. More add-ons than you can shake a stick at! Redis, RabbitMQ, SendGrid, and 143 more listed on the site. Monitoring, media, payment, logging, caching.

              Pricing is high, for Ruby hosting... which is just shy of 3K a month for 20 2X web dynos and 20 2X workers. Approximate.
              But that's about normal when you compare against Windows Hosting at about 66% the cost of a comparable setup with Windows.
            </aside>
          </section>
          <section>
            <h2>How easy?</h2>
            <img class="fragment fade-in" src="images/heroku.png">
            <h3 class="fragment fade-in">Sure...</h3>
          </section>
          <section>
            <h2>The Actual Steps</h2>
            <ul>
              <li><a href="https://api.heroku.com/signup/devcenter">Sign up</a></li>
              <li>Download and install the <a href="https://devcenter.heroku.com/articles/quickstart#step-2-install-the-heroku-toolbelt">Heroku Toolbelt</a></li>
              <li style="list-style:none;">
                <pre>
> Forge:Projects bennett$ heroku login
> Enter your Heroku credentials.
> Email: the.benstevenson@gmail.com
> Password (typing will be hidden): H4Ckz0r5
> Authentication successful.
                </pre>
                <pre>
> Forge:Projects bennett$ heroku create windnoes
> Forge:Projects bennett$ git push heroku master
                </pre>
              </li>
            </ul>
          </section>
          <section>
            <h2>Or use... anything you can build...</h2>
            <ul>
              <li class="fragment">
                <h3>Platform as a Service(PaaS)</h3>
                <ul>
                  <li><a href="https://www.engineyard.com/">Engine Yard</a></li>
                  <li><a href="https://www.heroku.com/">Heroku</a></li>
                  <li><a href="http://www.cloudfoundry.com/use">Cloud Foundry</a></li>
                </ul>
              </li>
              <li class="fragment">
                <h3>Infrastructure as a Service(IaaS)</h3>
                <ul>
                  <li><a href="https://www.linode.com/">Linode</a></li>
                  <li><a href="http://www.rackspace.com/cloud/vps/">Rackspace/Slicehost</a></li>
                  <li><a href="http://aws.amazon.com/ec2/pricing/">Amazon</a></li>
                  <li><a href="https://www.digitalocean.com/">Digital Ocean</a></li>
                  <li><a href="https://atir-dair.canarie.ca/">Canarie(Canada)</a></li>
                  <li class="fragment"><a href="http://www.windowsazure.com/en-us/pricing/details/virtual-machines/#service-linux">And yes even... Microsoft Azure</a></li>
                </ul>
              </li>
            </ul>
            <aside class="notes">
              The nice thing about Ruby is that there is most likely an implementation possible on any hosting provider in the known universe, often more than one.
            </aside>

          </section>
          <section>
            <h2>Other methods for doing things</h2>
            <ul>
              <li><a href="https://github.com/dotcloud/docker">Docker</a></li>
              <li><a href="https://github.com/puppetlabs/puppet">Puppet</a></li>
              <li><a href="https://github.com/opscode/chef">Chef</a></li>
              <li><a href="http://www.vagrantup.com/">Vagrant</a></li>
              <li class="fragment">Any VM, physical box, Raspberry Pi, some mobile phones, some server infrastructures...</li>
            </ul>
            <aside class='notes'>
              If you're not a sysadmin, because we're good, damn good, but not at everything. Offload the work to libraries to help manage your hoard of Linux VMs and keep the up to date, secure and configured the same.

              But the number of ways you can deploy applications in Ruby is astonishing and because of that you've probably never head of some of them. 
            </aside>
          </section>

          <section>
            <h2>In comparison</h2>

            <img class="fragment" src="images/ie_paste.jpg">

            <aside class="notes">
              It took two hours, 3 restarts, countless dependencies, one really nice install screen to even get Visual Studio express installed and functional. Then dealing with the eye-gougingly magical IIS not wanting to connect outside of the VM, another hour to figure out git integration in Visual Studio Express, failing at that, and installing the Github Windows client instead.
              Oh and one forced install of IE 10. Yeah things worked great picking things up.
            </aside>
          </section>

        </section>

        <section>
          <section>
            <h2>Active Record</h2>
          </section>
          <section>
            <h2>Some things weren't possible (or at least easy in the past)</h2>
            <ul>
              <li>Cool to love/hate with AR</li>
              <li>Too much magic</li>
              <li>OMG horrible syntax! Burn it!</li>
            </ul>
            <aside class="notes">
              As a Rails developer, how much you love or hate AR is dependant on the age of your fixie.
            </aside>
          </section>
          <section>
            <h2>It's OK</h2>
            <pre>
              <code>
user = User.new(name:"Jane")
user.save!

User.where(name:"Jane").first
              </code>
            </pre>
            <p>Simple, straight-forward, does it's job.</p>
            <aside>
              Model classes represent tables and instances are rows, 1:1. 
            </aside>
          </section>
          <section>
            <h2>Convention over Configuration</h2>
            <p>
              User(model) = users(table name)
            </p>
            <p class="fragment">
              User::Role(model) = user_roles(table name)
            </p>
            <aside class="notes">
              String inflections control how and  
            </aside>
          </section>
          <section>
            <h2>schema.rb</h2>
            <pre>
              rails g model user name:string
              rails g model family name:string
              <code>
ActiveRecord::Schema.define(version: 20131120045647) do

  create_table "families", force: true do |t|
    t.string "name"
  end

  create_table "users", force: true do |t|
    t.string   "name"
    t.datetime "created_at"
    t.datetime "updated_at"
  end
end

              </code>
            </pre> 
          </section>
          <section>
            <h2>Create Migration</h2>
            <pre>
              rails g migration AddEmailAndFamilyToUsers email:string family:references
              <code>
# db/migrate/20131120045647_add_email_and_family_to_users.rb
class AddEmailAndFamilyToUsers < ActiveRecord::Migration
  def change
    add_column :users, :email, :string
    add_reference :users, :family, index: true
  end
end
              </code>
              rake db:migrate db:test:prepare
            </pre>
          </section>
          <section>
            <h2>Result</h2>
            <pre>
              <code>
ActiveRecord::Schema.define(version: 20131120045647) do

  create_table "families", force: true do |t|
    t.string "name"
  end

  create_table "users", force: true do |t|
    t.string   "name"
    t.datetime "created_at"
    t.datetime "updated_at"
    t.string   "email"
    t.integer  "family_id"
  end

  add_index "users", ["family_id"], name: "index_users_on_family_id"

end

              </code>
            </pre>
          </section>
          <section>
            <h2>Arel</h2>
            <pre>
              <code>
                users = Arel::Table.new(:users)
                query = users.where(users[:name].eq("Jane"))
                query.to_sql
              </code>
              "SELECT FROM "users"  WHERE "users"."name" = 'Jane'"
            </pre>
            <aside class="notes">
              Just like LINQ, without the GUI
            </aside>
          </section>

          <section>
            <h2>Alternatives</h2>
            <ul>
              <li><a href="https://github.com/TalentBox/sequel-rails">Sequel</a></li>
              <li><a href="https://github.com/rom-rb/rom">ROM (Formerly DataMapper2)</a></li>
            </ul>
            <aside class="notes">
              Sequel is extremely close to Active Record in terms of syntax, however has been built with much more emphasis on performance.

              ROM is a new one but will be built much in the same manner as Datamapper was, which is essentially the same idea as Contexts in .NET EF.
              Where database interactions are managed through essentially object stores instead of object classes know how to connect and build/persist objects.
              Much like EF objects can be composed of differing data tables, Complex Types.
            </aside>
          </section>
<!--           <section>
            <h2>Sequel</h2>
            <ul>
              <li><a href="http://merbist.com/2012/02/23/quick-dive-into-ruby-orm-object-initialization/">More performance minded than AR</a></li>
              <li>Not session based, like AR</li>
              <li>More streamlined than AR</li>
            </ul>
          </section>
          <section>
            <h2>ROM</h2>
            <ul>
              <li>Session Based</li>
            </ul>
            <pre>
              <code>
env.session do |session|
  user = session[:users].new(id: 1, name: 'Jane')
  session[:users].save(user)
  session.flush
end

jane = env[:users].restrict(name: 'Jane').one
              </code>
            </pre>
          </section>
          <section>
            <h2>The strange ones!</h2>
            <ul>
              <li>Object DB's!
                <ul>
                  <li class="fragment"><a href="http://mongomapper.com/">MongoDB</a></li>
                    <ul>
                      <li class="fragment">MongoMapper, Mongoid (AR Compliant)</li>
                    </ul>
                  <li class="fragment"><a href="http://www.neo4j.org/develop/ruby">Neo4j</a></li>
                </ul>
              </li>
            </ul>
          </section> -->
        </section>

        <section>
          <section>
            <h2>Performance</h2>
            <p>
              So there's this one little fact... <span class="fragment">MRI doesn't do multi-threading.</span>
            </p>
          </section>

          <section>
            <h2>It doesn't matter!</h2>
            <ul>
              <li>More than 1 Ruby.</li>
              <li class="fragment">JRuby</li>
              <li class="fragment">Rubinius</li>
            </ul>
            <aside class="notes">
              There's MRI( Matz Ruby Interpreter), JRuby runs on the Java Virtual Machine, Rubinius is a reimplementation of Ruby supporting proper threading.
            </aside>
          </section>

          <section>
            <h2>We've got options too!</h2>
            <img src="images/net-joke.png">
            <p class="fragment">
              All boils down to the same CLR
            </p>
          </section>

          <section>
            <h2>Where's the real cost in development?</h2>
            <ul>
              <li>Developers cost way more than hardware.</li>
              <li>You can build applications quicker, more streamlined, no code behind assembly files.</li>
              <li>If you're chops are up to the task, without leaving the same terminal.</li>
            </ul>
          </section>

          <section>
            <h2>Makes it easy to do the right thing</h2>
            <ul>
              <li>CDN Support built into framework</li>
              <li>Turbolinks</li>
              <li>Rails-API</li>
              <li>Open platform, open tools.</li>
            </ul>
            <aside class="notes">
              Being open source opens the world with possibilities for what could be, not what is or what's coming next.
            </aside>
          </section>
          <section>
            <h2>You can do anything you want in Rails</h2>
            <img class="fragment" src="images/microsoft-communism.jpg">
          </section>
        </section>

        <section>
          <section>
            <h2>Cost</h2>
            <ul>
              <li>Free</li>
              <li class="fragment">Questions...?</li>
            </ul>
          </section>

          <section> 
            <h2>Ok fine that was mildly loaded.</h2>
            <ul>
              <li>As free as you're willing to make it.</li>
              <li>Swap and play.</li>
              <li class="fragment">Editors... my god the options.
                <ul>
                  <li class="fragment">Don't like VI? Use Emacs.</li>
                  <li class="fragment">Don't like Emacs? Use Sublime or Text Mate</li>
                  <li class="fragment">I need the IDE look! Use RubyMine</li>
                </ul>
              </li>
            </ul>
          </section>
          <section>
            <h2><a href="http://www.jetbrains.com/ruby/">RubyMine</a></h2>
            <div class="fragment">
              <img src="images/darcula.png">
            </div>
            <aside class="notes">
              It's got everything, since the last time I tried it which was a couple years ago. RSpec, Minitest integration. Code completion as well as can be expected. Even RubyMotion support if you're doing a iOS application.

              When compared to Visual Studio, Windows, IIS hosting... actually I have no idea what the damn things cost for a single person. I've seen figures ranging from 500$ for a single Visual Studio license, and 250$ for a single Windows install. Does someone here know what they cost for a team? Probably not unless you're a sales rep for Microsoft.  

              You can't even find the information on the site
            </aside>
          </section>
          <section>
            <h2>What about server costs?</h2>
            <p class="fragment">Linux = Cheaper</p>
            <aside class="notes">
              Every hosting service that I know of (exp. of AppHarbor) support Linux VM's, Linux is inherantly cheaper than Windows to build and maintain. On Azure it is ~66% the cost to host a Linux VM of decent performance.
            </aside>
          </section>
          <section> 
            <h2>With Windows</h2>
            <div class="fragment">
              <ul>
                <li>Would you like a GUI with that?</li>
              </ul>
              <img src="images/clippy.png" style="width:200px; float:right;">
            </div>
            <aside class="notes">
              Ok fine, no one wants to remember clippy. But this illustrates a fundamental difference between the two frameworks. What can be accomplished with trivial text editing is ofuscated beneath a wash of windows and wizards. And when things go wrong. 
            </aside>
          </section>
          <section>
            <h2>JRuby</h2>
            <p>
              1 hour to port a medium sized application over while learning.
            </p>
            <p>
              Huge performance increases without signifigant change to code-base.
            </p>

            <aside class="notes">
              Specs passing.

              The JVM is the biggest competitor to the CLR, and it can be used as a long-term evolution plan in Rails. 
            </aside>
          </section>
        </section>

        <section>
          <section>
            <h2>Editor Templating vs. Formtastic</h2>
          </section>
          <section>
            <h2>On Rails</h2>
            <ul>
              <li>Stick with normal form helpers, they work.</li>
            </ul>
            <pre>
              <code>
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
              </code>
            </pre>
          </section>
          <section>
            <h2>Options!</h2>
            <ul>
              <li>Use an alternative library
                <ul>
                  <li><a href="https://github.com/justinfrench/formtastic">justinfrench/formtastic</a></li>
                  <li><a href="https://github.com/plataformatec/simple_form">platformatec/simple_form</a></li>
                </ul>
              </li>
              <li>Alterntative form builders can be customized for speicified CSS Frameworks</li>
                <ul>
                  <li>Both support Bootstrap 2-3(beta)</li>
                </ul>
            </ul>
          </section>
          <section>
            <h2>A (Contrived) Example!</h2>
            <div class="fragment">
              <h3><a href="https://github.com/benstevenson/meetup_trial_net/blob/master/meetup_trial_net/Views/Account/Login.cshtml">Default implementation in .NET</a></h3>
              <pre>
                <code>
  @Html.ValidationSummary(true)
  <div class="form-group">
      @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
          @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
          @Html.ValidationMessageFor(m => m.UserName)
      </div>
  </div>
                </code>
              </pre>
            </div>
            <div class="fragment">
              <h3><a href="https://github.com/nickl-/formtastic-bootstrap3">Formtastic (w/ Bootstrap 3 Support)</a></h3>
              <pre>
                <code>
  <%= f.semantic_errors %>
  <%= f.inputs do %>
    <%= f.input :username %>
  <% end %>
                </code>
              </pre>
            </div>
          </section>
          <section>
            <h2>Surely a nightmare to configure</h2>
            <pre class="fragment">
              <code>
gem 'formtastic-bootstrap'

# config/initializers/formtastic.rb
Formtastic::Helpers::FormHelper.builder = FormtasticBootstrap::FormBuilder

# app/assets/stylesheets/application.css
*= require formtastic-bootstrap
              </code>
            </pre>
          </section>
          <section>
            <h2>Formtastic: Once again options...</h2>
            <h3>Or with <a href="http://foundation.zurb.com/">Zurb Foundation</a></h3>
            <pre>
              <a href="https://github.com/aliang/formtastic-zurb-foundation">gem 'formtastic-zurb-foundation'</a>
            </pre>
            <h3>Or with <a href="https://github.com/plataformatec/simple_form">simple_form</a></h3>
            <pre>
              <a href="https://github.com/plataformatec/simple_form#bootstrap">rails generate simple_form:install --bootstrap</a>
            </pre>
            <h3>Or with simple_form and Zurb</h3>
            <pre>
              <a href="https://github.com/plataformatec/simple_form#zurb-foundation-3">rails generate simple_form:install --foundation</a>
            </pre>
            <h3>Or add in TopCoat</h3>
            <pre>
              <a href="https://github.com/esampaio/topcoat-rails">gem 'topcoat-rails'</a>
              <code>
                # app/stylesheets/application.css
                *= require topcoat/desktop-dark
                *= require topcoat/desktop-light
                *= require topcoat/mobile-dark
                *= require topcoat/mobile-light
              </code>
            </pre>
          </section>

        </section>

      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'socket.io/socket.io.js', async: true },
          { src: 'plugin/notes-server/client.js', async: true },
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });
    </script>
  </body>
</html>
