<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Ruby on Rails 4 vs. .NET MVC 5 Smackdown</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/night.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h1>Ruby on Rails 4 vs. .NET MVC 5 Smackdown</h1>
          <h3>November 2013, YYC Ruby Meetup</h3>
          <p>
            <small>Ben Stevenson &amp; Simon Timms/ <a href="http://twitter.com/bennett_stevens">@bennett_stevens</a> <a href="http://twitter.com/stimms">@stimms</a> </small>
          </p>
        </section>

        <section>
          <section>
            <h2>Hosting</h2>
            <p>
              Where your app lives
            </p>

            <aside class="notes">
            </aside>
          </section>
          <section>
            <h2>Roll your own</h2>
            <h3 class="fragment">...but that's scary!</h3>
          </section>
          <section>
            <h2>Server Options</h2>
            <ul style="list-style:none;text-align:center;">
              <li class="fragment"><img src="images/thin.png"></li>
              <li class="fragment"><img src="images/puma-logo.png"></li>
              <li class="fragment"><img src="images/unicorn.png"></img><span class="fragment" style="position:fixed;" data-fragment-index="5">* Recommended by Ben</span></li>
              <li class="fragment"><img src="images/passenger.png"  style="width: 300px; height:100px"></li>
            </ul> 
          </section>
          <section>
            <h2>Get someone else to do it...<h2>
            <img src="images/heroku_logo.png" class="fragment">
            <p class="fragment">
              The <span style="color:green;">Monster</span> of Managed Hosting
            </p>
          </section>
          <section>
            <h2>The Deal</h2>
            <ul>
              <li>Managed Hosting Plans</li>
              <li>Scalable</li>
              <li>Addons</li>
              <li class="fragment fade-in">Quick easy setup</li>
            </ul>
          </section>
          <section>
            <h2>How easy?</h2>
            <img class="fragment fade-in" src="images/heroku.png">
            <h3 class="fragment fade-in">Sure...</h3>
          </section>
          <section>
            <h2>A trial</h2>
            <h3 class="fragment fade-in">Sure...</h3>
          </section>

          <section>
            <h2>The Actual Steps</h2>
            <ul>
              <li><a href="https://api.heroku.com/signup/devcenter">Sign up</a></li>
              <li>Download and install the <a href="https://devcenter.heroku.com/articles/quickstart#step-2-install-the-heroku-toolbelt">Heroku Toolbelt</a></li>
              <li style="list-style:none;">
                <pre>
                  <code>
> Forge:Projects bennett$ heroku login
> Enter your Heroku credentials.
> Email: the.benstevenson@gmail.com
> Password (typing will be hidden): H4Ckz0r5
> Authentication successful.
                  </code>
                </pre>
              </li>
            </ul>
          </section>

        </section>


        <section>
          <section>
            <h2>OpenStack</h2>
            <p>Sounds sketchy...</p>
          </section>
          <section>
            <h2>Backers</h2>

          </section>
          <section>
            <h2>All 2+ years ago, anything new?</h2>
            <ul>
              The idea of Dockers, self contained code.
            </ul>
          </section>
        </section>

        <section>
          <h2>ORM</h2>
          <p>
            Just ActiveRecord?
          </p>
        </section>

        <section>
          <section>
            <h2>Performance: Threading and the GIL</h2>
            <p>
              So there's this one little fact... <span class="fragment">MRI Ruby doesn't do multi-threads.</span>
            </p>
          </section>

          <section>
            <h2>It doesn't matter!</h2>
            <ul>
              <li>More than 1 Ruby.</li>
              <li class="fragment">JRuby</li>
            </ul>
            <aside>
              There's MRI( Matz Ruby Interpreter), JRuby runs on the Java Virtual Machine
            </aside>
          </section>

          <section>
            <h2>We've got options!</h2>
            <div class="fragment">
              <img src="images/net-joke.png">
            </div>
            <p class="fragment">
              No real options. All boils down to the same CLR VM
            </p>
          </section>

          <section>
            <h2>Makes it easy to do the right thing</h2>
            <ul>
              <li>CDN Support built into framework</li>
              <li>Turbolinks</li>
              <li>Remove the views.</li>
            </ul>
          </section>

          <section>
            <h2>Where's the real cost in development?</h2>
            <ul>
              <li>Developers, who in essence are people.</li>
              <li>You can build applications quicker, more streamlined.</li>
              <li>If you're chops are up to the task, without leaving the same terminal.</li>
            </ul>
          </section>
        </section>

        <section>
          <section>
            <h2>Cost</h2>
          </section>
          <section>
            <h2>Pros</h2>
            <ul>
              <li>Free</li>
              <li class="fragment">Questions...?</li>
            </ul>
          </section>
          <section> 
            <h2>Ok fine that was mildly loaded.</h2>
            <ul>
              <li>Built open on all fronts.</li>
              <li>Swap and play.</li>
              <li class="fragment">Options... my god the options.
                <ul>
                  <li>Don't like VI? Use Emacs.</li>
                  <li>Don't like Emacs? Use Sublime or Text Mate</li>
                  <li>I need the IDE look! Use RubyMine</li>
                </ul>
              </li>

            </ul>
          </section>
          <section>
            <h2>But I like paying for my editors!</h2>
            <h3>Built for Ruby, not the entire MS Family</h3>

          </section>
          <section> 
            <h2>With Windows</h2>
            <ul>
              <li>Would you like a GUI with that?</li>
            </ul>
            <img class="fragment" src="images/clippy.png" style="width:200px; float:right;">
          </section>
        </section>

        <section>
          <section>
            <h2>Editor Templating vs. Scaffolding</h2>
          </section>
          <section>
            <h2>On Rails: Options</h2>
            <ul>
              <li>Stick with normal form helpers, they work.</li>
              <li>Use an alternative library
                <ul>
                  <li><a href="https://github.com/justinfrench/formtastic">justinfrench/formtastic</a></li>
                  <li><a href="https://github.com/plataformatec/simple_form">platformatec/simple_form</a></li>
                </ul>
              </li>
              <li>Alterntative form builders can be customized for speicified CSS Frameworks</li>
                <ul>
                  <li>Both support Bootstrap 2-3(beta)</li>
                </ul>
            </ul>
          </section>
          <section>
            <h2>A (Contrived) Example!</h2>
            <div class="fragment">
              <h3><a href="https://github.com/benstevenson/meetup_trial_net/blob/master/meetup_trial_net/Views/Account/Login.cshtml">Default implementation in .NET</a></h3>
              <pre>
                <code>
  @Html.ValidationSummary(true)
  <div class="form-group">
      @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
          @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
          @Html.ValidationMessageFor(m => m.UserName)
      </div>
  </div>
                </code>
              </pre>
            </div>
            <div class="fragment">
              <h3><a href="https://github.com/nickl-/formtastic-bootstrap3">Formtastic (w/ Bootstrap 3 Support)</a></h3>
              <pre>
                <code>
  <%= f.semantic_errors %>
  <%= f.inputs do %>
    <%= f.input :username %>
  <% end %>
                </code>
              </pre>
            </div>
          </section>
          <section>
            <h2>Surely a nightmare to configure</h2>
            <pre class="fragment">
              <code>
gem 'formtastic-bootstrap'

# config/initializers/formtastic.rb
Formtastic::Helpers::FormHelper.builder = FormtasticBootstrap::FormBuilder

# app/assets/stylesheets/application.css
*= require formtastic-bootstrap
              </code>
            </pre>
          </section>
          <section>
            <h2>Once again options...</h2>
            <h3>Or with <a href="http://foundation.zurb.com/">Zurb Foundation</a></h3>
            <pre>
              <a href="https://github.com/aliang/formtastic-zurb-foundation">gem 'formtastic-zurb-foundation'</a>
            </pre>
            <h3>Or with <a href="https://github.com/plataformatec/simple_form">simple_form</a></h3>
            <pre>
              <a href="https://github.com/plataformatec/simple_form#bootstrap">rails generate simple_form:install --bootstrap</a>
            </pre>
            <h3>Or with simple_form and Zurb</h3>
            <pre>
              <a href="https://github.com/plataformatec/simple_form#zurb-foundation-3">rails generate simple_form:install --foundation</a>
            </pre>
          </section>

        </section>

      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>

  </body>
</html>
